extends layout

block content

  link(rel='stylesheet', href='/css/imageparallax.css')
  .col1
    .img1
    .img3
  .col2
    h1.h1 simpleParallax.js
  .col3
    .img2
    .img4

  script(src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.6.1/dist/simpleParallax.min.js")
  script(src="https://code.jquery.com/jquery-3.4.1.js")
  script(type="text/javascript" src='/js/imageparallax.js')