extends layout

block content
  .landing 
    .intro 
      h2 Blend your emotions 
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, dolorem, laborum reiciendis odio consequuntur nam exercitationem doloribus iste tempore error consequatur, odit est officia at pariatur corporis impedit iusto excepturi.
    .distortion

  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" integrity="sha512-8Wy4KH0O+AuzjMm1w5QfZ5j5/y8Q/kcUktK9mPUVaUoBvh3QPUZB822W/vy7ULqri3yR8daH3F58+Y8Z08qzeg==" crossorigin="anonymous" referrerpolicy="no-referrer")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
  script(src='/js/vendor/hover.js')
  script(type="text/javascript" src='/js/liquid_transition.js')