extends layout

block content

  link(rel='stylesheet', href='/css/parallax.css')
  section 
    img.layer(src="../images/parallax/1.png" data-speed='-5')
    img.layer(src="../images/parallax/2.png" data-speed='5')   
    img.layer(src="../images/parallax/3.png" data-speed='2')
    img.layer(src="../images/parallax/4.png" data-speed='6')  
    img.layer(src="../images/parallax/5.png" data-speed='8')
    img.layer(src="../images/parallax/6.png" data-speed='-2')   
    img.layer(src="../images/parallax/7.png" data-speed='4')
    img.layer(src="../images/parallax/8.png" data-speed='-9')  
    img.layer(src="../images/parallax/9.png" data-speed='-5')
    img.layer(src="../images/parallax/10.png" data-speed='-5')   
    img.layer(src="../images/parallax/11.png" data-speed='-5')
    img.layer(src="../images/parallax/12.png" data-speed='-5')  
    h2.layer(data-speed='2') Parallax

  script(src="https://code.jquery.com/jquery-3.4.1.js")
  script(type="text/javascript" src='/js/parallax.js')