extends layout

block content

  .div1 
  .div2
    .square 
    .square2
  .div3
    .square3
  .div4    
    .square4

  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js") 
  script(type="text/javascript" src='/js/scrolltrigger.js')