extends layout

block content

  .div1 
  .div2
    .square 
    .square2
  .div3
    .square3
  .div4    
    .square4
  .div5   
    .square5
  .div6  
    .square6    
  .div7  
    .square7  
    .square8
  .div8  
    .panel
    .box
    .panel
  .div9 
    .panel2
    .box2
    .panel2    

  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js") 
  script(type="text/javascript" src='/js/scrolltrigger.js')